*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

button {
    cursor: pointer;
}

.header-container{
    height: 5em;
    border-bottom: 1px solid gray;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    /* padding-top: 1em; */
    height: 100vh;
}

/* sidebar start */
.projects-container {
    flex: 1;
    border-right: 1px solid gray;
}

.project-container {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-title {
    font-size: 1.5rem;
    margin-left: 1em;
}

.add-project-button {
    width: 1.5em;
    font-size: 1.5rem;
    margin-right: 1em;
    background-color: white;
    border: none;
}

.add-project-button:hover {
    background-color: rgba(224, 223, 223, 0.116);
}

.added-progects {
    height: auto;
}


.tasks-container {
    flex: 4;
    display: flex;
    flex-direction: column;
}

.added-tasks-container {
    flex: 1;
}

.title-header{
    height: 4em;
    margin-top: 1em;
    margin-left: 1em;
}

.modal-container {
    display: none;
}

.show-modal {
    width: 20em;
    height: 10em;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    border: none;
    border-radius: 10px;
    top: 20%;
    left: 40%;
    padding: 1em;
    gap: 1em;
    box-shadow: 0px 0px 10px 5px rgb(211, 210, 210);
}

.project-input {
    font-size: 1.2rem;
    padding-left: 10px;
    height: 2.2em;
    display: block;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: rgba(240, 248, 255, 0.253);
}

.modal-add-btn {
    font-size: 1.2rem;
    height: 2em;
    background-color: aqua;
    border: none;
    border-radius: 5px;
}

.project-wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: 5em;
    margin-right: 1.65em;
}

.created-project-title {
    flex: 1;
    font-size: 1.3rem;
    text-align: left;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.created-project-title:hover {
    background-color: rgba(224, 223, 223, 0.116);
}

.delete-project {
    width:  1em;
    font-size: 2rem;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.delete-project:hover {
    background-color: rgba(224, 223, 223, 0.116);
}


.add-task-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(234, 235, 236);
    padding-left: 2em;
    padding-right: 10em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.first-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.task-name-input {
    height: 2.5em;
    width: 20em;
    border-radius: 6px;
    border: none;
    padding-left: 10px;
}

.due-date-container > label{
    font-size: 1.2rem;
    line-height: 1.5;
}

.task-due-date {
    height: 2.5em;
    width: 10rem;
    border-radius: 6px;
    border: none;
    padding-left: 10px;
}

.priority-label {
    font-size: 1.2rem;
    line-height: 1.5;
}

#task-priority {
    height: 2.5em;
    width: 10em;
    margin-right: 2em;
    background-color: white;
    border-radius: 6px;
    border: none;
    padding-left: 10px;
}

.add-task {
    font-weight: bold;
    color: white;
    height: 2.5em;
    width: 8em;
    background-color: rgb(0, 153, 255);
    border: none;
    border-radius: 6px;
}


.task-container {
    margin-top: 2em;
    height: 4em;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(125, 222, 247);
}

.task-title, .task-duedate, .task-priority-level {
    flex: 2;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.task-title {
    color: black;
    background-color: rgba(232, 234, 235, 0);
    border: none;
    border-radius: 5px;
    width: 2em;
}

.task-duedate {
    display: flex;
    justify-content: center;
}

.task-due {
    margin-left: .5em;
}

.task-btns {
    flex: 1;
    display: flex;
    gap: 1em;
}

.task-btns > *{
    height: 2.5em;
    width: 6em;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    background-color:rgba(234, 235, 236, 0);
}

.input-enable {
    background-color: white;
}


.task-container {
    display: flex;
    gap: 10px;
    align-items: center ;
}

.edited-task-name {
    height: 2.5em;
    width: 25em;
    padding-left: .5em;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
}

.new-due-date {
    height: 2.5em;
    width: 15em;
    padding: .5em;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
}

.new-priority {
    height: 2.5rem;
    width: 10em;
    background-color: white;
    padding-left: 1em;
    border: none;
    border-radius: 8px;
}

.save-button {
    height: 2.5em;
    width: 8em;
    border: none;
    border-radius: 5px;
    background-color: aqua;
    font-weight: bold;
}

.completed-task, .completed-task > * {
    background-color: rgb(214, 213, 213);
    color: rgb(255, 255, 255);
}